@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --background-color: #302e2b;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  height: 100dvh;
  background-color: var(--background-color);
  overflow: hidden;
}

#app {
  height: 100%;
}
